html, body {
    // font-size: 1.2em;
    height: 100%;
    // background-color: orange;
}

* {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}
ul li {
    padding-left: 1em;
}
.clear:after {
    content: " ";
    display: table;
    clear: both;
}
input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    // margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
    font-size: 1.2em;
    width: 100%;
}
input[type=text]:focus, textarea:focus {
                            box-shadow: 0 0 5px rgba(81, 203, 238, 1);
                            padding: 3px 0px 3px 3px;
                            // margin: 5px 1px 3px 0px;
                            border: 1px solid rgba(81, 203, 238, 1);
                        }

button {
    display: inline-block;
    padding: 5px 10px;
    border: none;
    background-color: orange;
    color: white;
    // font-weight: bold;
    font-size: 1.2em;
}
div#app {
    border: 1px solid blue;
    // background-color: orange;
    float: left; // 注意, float 是需要的, 否则顶部的空白去除不掉;
    width: 100%;
    height: 100%;
    position: relative;
    p#loading {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 15em;
        height: 2em;
        line-height: 2em;
        // left: 0;
        color: white;
        font-size: 1.4em;
        font-weight: bold;
        background-color: #b53525;
        text-align: center;
        border-radius: 4px;
    }
}

div#left-bar {
    float: left;
    width: 20%;
    height: 100%;
    div#tags-filter {
        padding: 4px;
        input[type=text] {
            width: 100%;
        }
    }
    ul {
        list-style-type: none;
        padding-left: 1em;
        margin-left: 0;
        width: 100%;
    }
    li {
        padding: 0.2em 0.5em;
        // border-left: 0.2em solid blue;
    }
    li:hover {
        // background-color: orange;
        cursor: pointer;
        border-bottom: 1px solid blue;
    }
    
    /* border: 1px solid purple; */
    // height: 100%;
}
div#content-panel {
    float: right;
    width: 80%;
    height: 100%;
    padding-left: 2em;
    background-color: "white";
    border-left: 1px solid gray;
    ul#tab-banner {
        list-style-type: none;
        overflow: hidden;
        // margin-top: 4px;
        margin-bottom: 1em;
        font-size: 1.4em;
        // background-color: orange;
        border-bottom: 1px solid gray;
        li {
            height: 100%;
            display: inline-block;
            float: left;
            padding: .4em 1em;
            a {
                text-decoration: none;
            }
        }
        li.active {
            // background-color: lightblue;
            border-bottom: 4px solid orange;
            // margin-top: -4px;
        }
    }
    div#note-tab {
        // height: 4em;
        // width: 80%;
        border: 1px solid purple;
        .row {
            margin: 10px 0;
        }
        .row-left {
            float: left;
            width: 10%;
        }
        .row-right {
            float: left;
            width: 90%;
        }
        label {
            float: left;
            font-weight: bold;
            width: 100%;
        }

        input#new-tag {
        }
        span.notetag {
            padding: .4em;
            background-color: lightblue;
            margin-right: .2em;
        }
        span#tags-wrapper {
            position: relative;
            div#completions {
                width: 100%;
                background-color: white;
                // border: 1px solid gray;

                position: absolute;
                padding: .4em;
                top: 2em;
                left: 0em;
                z-index: 100;
                p {
                    margin: 0;
                    padding: 0;
                }
                p.selected {
                    background-color: blue;
                }
            }
        }
    }
}
